#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
_PKGNAME=$(shell dpkg-parsechangelog | grep '^Source: ' | grep -o ' .*' | cut -b2-)
_VERSION=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-+~]+).*,\1,p')

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Enable Multi-Arch support.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_strip:
	dh_strip --dbg-package=libshadowsocks-dbg
	sed -i "/dependency_libs/ s/'.*'/''/" `find . -name '*.la'`

override_dh_auto_configure:
	dh_auto_configure -- \
        --enable-shared

override_dh_installinit:
	dh_installinit
	dh_installinit --no-start --name=shadowsocks-libev-server@
	dh_installinit --no-start --name=shadowsocks-libev-tunnel@
	dh_installinit --no-start --name=shadowsocks-libev-redir@
	dh_installinit --no-start --name=shadowsocks-libev-local@

%:
	dh $@  --with systemd

get-orig-source:
	(cd ..; wget -q https://github.com/shadowsocks/shadowsocks-libev/archive/v$(_VERSION).tar.gz -O $(_PKGNAME)_$(_VERSION).orig.tar.gz;)
	rm -rf $(_PKGNAME)_temp;
	mkdir $(_PKGNAME)_temp;
	tar --overwrite -xf ../$(_PKGNAME)_$(_VERSION).orig.tar.gz -C $(_PKGNAME)_temp;
	cp -n -a $(_PKGNAME)_temp/$(_PKGNAME)*/. . || true;
	rm -rf $(_PKGNAME)_temp;
