#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_DESTDIR_python2=debian/python-shadowsocks
export PYBUILD_DESTDIR_python3=debian/shadowsocks
export PYBUILD_AFTER_INSTALL_python2=rm -rf '{destdir}/usr/bin'

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

PKD  = $(abspath $(dir $(shell echo $(MAKEFILE_LIST) | cut -d' ' -f1)))
PKG  = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

.PHONY: get-orig-source
## http://wiki.debian.org/onlyjob/get-orig-source
get-orig-source:  $(info I: $(PKG)_$(VER))
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
