Source: eric
Section: devel
Priority: optional
Maintainer: Gudjon I. Gudjonsson <gudjon@gudjon.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: dh-python,
                     python3-all,
                     python3-pyqt5,
                     python3-pyqt5.qsci,
                     pyqt5-dev,
                     python3-sip-dev,
                     qttools5-dev-tools
X-Python3-Version: >=3.0
Standards-Version: 3.9.7
Homepage: http://eric-ide.python-projects.org/
Vcs-Svn: svn://anonscm.debian.org/python-apps/packages/eric/trunk/
Vcs-Browser: https://anonscm.debian.org/viewvc/python-apps/packages/eric/trunk/

Package: eric
Architecture: all
Depends: bicyclerepair (>= 0.9-4.1),
         python-chardet,
         python3-pygments,
         python3-pyqt5,
         python3-pyqt5.qsci,
         python3-pyqt5.qtsql,
         python3-pyqt5.qtwebkit,
         python3-pyqt5.qtsvg,
         ${misc:Depends},
         ${python3:Depends}
Recommends: eric-api-files
Suggests: pyqt5-dev-tools,
          python-qt4-doc,
          pyqt5-doc,
          python-doc,
          python-profiler,
          python3-doc,
          qt4-doc-html,
          qt5-doc-html,
          qttools5-dev,
          ruby
Description: full featured Python IDE
 eric is a full featured Python IDE written in PyQt using the QScintilla
 editor widget. Some highlights
   * Any number of editors with configurable syntax highlighting, code
     folding, auto indenting and brace highlighting.
   * Integrated Project Management facility to organize your projects.  The
     project browser shows all source files, all forms and all translations
     each on its own tab. The source browser has built in class browsing
     capabilities.
   * Integrated and full featured debuggers for Python and Ruby.
   * Interactive shells for Python and Ruby.
   * An explorer window for walking through your directory structure with
     built in class browsing capabilities for Python files.
   * Variable windows that display local and global variables in the
     current scope while debugging a program.
   * An integrated interface to the Python Module "unittest".
   * An integrated help viewer to display HTML help files. Alternatively
     you can choose to use Qt-Assistant to view help files.
   * Display of the UI in different languages.
   * The capability to start Qt-Designer and Qt-Linguist from within eric5.
   * The ability to compile Qt-Designer forms, to produce Qt-Linguist files
     and release them from within the IDE.

Package: eric-api-files
Architecture: all
Depends: eric, ${misc:Depends}
Description: API description files for use with eric
 This package contains code completion API files of
 Python standard modules & builtins, PyQt and PyKDE.
 .
 eric is a full featured Python IDE.
