#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Used by pybuild
export PYBUILD_NAME=tldr

# Enable Multi-Arch support.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with python2 --buildsystem=pybuild

PKD  = $(abspath $(dir $(shell echo $(MAKEFILE_LIST) | cut -d' ' -f1)))
PKG  = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
GIT_ADDR_PAGES = https://github.com/tldr-pages/tldr.git
CLIENT_TARGZ = https://pypi.python.org/packages/source/t/tldr/tldr-0.2.tar.gz

.PHONY: get-orig-source
## http://wiki.debian.org/onlyjob/get-orig-source
get-orig-source:  $(info I: $(PKG)_$(VER))
	#@echo "# Downloading..."
	#uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
	mkdir $(PKG)_temp && cd $(PKG)_temp; \
	git clone $(GIT_ADDR_PAGES); \
	tar -czvf ../$(PKG)_$(VER).orig-tldr.tar.gz tldr; \
	echo $$PWD; \
	[ ! "x$${PWD}" = "x/" ] && rm -rf ./*; \
	wget $(CLIENT_TARGZ); \
	tar -xvf ./$(shell basename $(CLIENT_TARGZ)); \
	rm -f ./$(shell basename $(CLIENT_TARGZ)); \
	mv ./* $(PKG)-$(VER); \
	tar -czvf ../$(PKG)_$(VER).orig.tar.gz $(PKG)-$(VER); \
	cd ..; rm -rf $(PKG)_temp;
